* {
  font-family: "Mooli", sans-serif;
  margin: 0px;
  padding: 0px;
  cursor: default;
  box-sizing: border-box;
}
body {
  scroll-behavior: smooth;
}
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 5px 15px 20px;
  color: blue;
}
fieldset {
  width: 565px;
  margin-top: 20px;
  padding: 20px 20px 0px;
  border: 3px solid #000000a1;
}
.rank span {
  font-size: 40px;
}
#rank {
  font-size: 25px;
  text-shadow: 1px 1px 3px red;
}
img {
  cursor: grab !important;
  height: 220px;
  margin-top: 20px;
  margin-bottom: 20px;
}
.rank {
  font-size: 20px;
}
fieldset p {
  font-size: 20px;
  margin-bottom: 15px;
}
h1 {
  display: inline-block;
  color: #000000a1 !important;
  margin-bottom: 20px;
  margin-top: 5px;
  font-size: 45px;
  border-bottom: 2px solid #000000a1;
}
fieldset p span {
  color: red !important;
  display: block;
  margin-left: 108px;
}
legend {
  color: #000000a1 !important;
  font-size: 30px;
}
#symbol {
  font-size: 23px;
}
#symbol span {
  color: red;
}
@media screen and (max-width: 600px) {
  fieldset {
    width: 376px;
  }
}
.boxes {
  display: flex;
  gap: 15px;
  align-items: center;
  justify-content: center;
}
